In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv("epa2015_2020.csv", index_col=0)

In [3]:
df.head()

,Abbr,EPA/play,Success Rate (SR),Dropback EPA,Dropback SR,Rush EPA,Rush SR,week,year
0,BUF,0.427,51.0%,0.578,55.0%,0.329,48.4%,9,2015
1,CIN,0.280,48.4%,0.573,57.6%,-0.033,38.7%,9,2015
2,PHI,0.204,43.8%,0.101,38.5%,0.323,50.0%,9,2015
3,TEN,0.203,48.6%,0.591,60.0%,-0.313,33.3%,9,2015
4,NO,0.190,45.9%,0.420,57.1%,-0.260,24.0%,9,2015

In [8]:
parser = {'BUF': "Buffalo Bills",
'CIN': 'Cincinnati Bengals',
'PHI': 'Philadelphia Eagles',
'TEN': 'Tennessee Titans',
'NO': 'New Orleans Saints',
'PIT': 'Pittsburgh Steelers',
'MIA': 'Miami Dolphins',
'LV': 'Oakland Raiders',
'CHI': 'Chicago Bears',
'IND': 'Indianapolis Colts',
'NE': 'New England Patriots',
'CAR': 'Carolina Panthers',
'DAL': 'Dallas Cowboys',
'SF': 'San Francisco 49ers',
'DEN': 'Denver Broncos',
'NYJ': 'New York Jets',
'NYG': 'New York Giants',
'JAX': 'Jacksonville Jaguars',
'GB': 'Green Bay Packers',
'LAC': "San Diego Chargers",
'ATL': "Atlanta Falcons",
'MIN': 'Minnesota Vikings',
'LA': "St. Louis Rams",
'CLE': 'Cleveland Browns',
'TB': 'Tampa Bay Buccaneers',
'WAS': 'Washington Redskins',
'KC': 'Kansas City Chiefs',
'BAL': 'Baltimore Ravens',
'ARI': 'Arizona Cardinals',
'SEA': "Seattle Seahawks",
'HOU': 'Houston Texans',
'DET': "Detroit Lions"
}

In [2]:
def getNames(teamCol):
    dict_0 = {}
    for team in teamCol:
        if team in dict_0.keys():
            dict_0[team] += 1
        else:
            dict_0[team] = 1
    return dict_0

In [6]:
d = getNames(df.Abbr)

In [11]:
with open("dict.txt", "w") as f:
    f.write(str(d))

In [12]:
f.close()

In [17]:
def cleanPer(p):
    p = str(p)
    p = p.replace("%", "")
    p = float(p) / 100
    return p

In [19]:
df = df.assign(OVR_SUCCESS_RATE = lambda x: x["Success Rate (SR)"].apply(cleanPer))

In [22]:
df = df.assign(DROPBACK_SR = lambda x: x["Dropback SR"].apply(cleanPer))

In [24]:
df = df.assign(RUN_SR = lambda x: x["Rush SR"].apply(cleanPer))

In [25]:
def cleannames(name):
    c = parser[name]
    return c

In [27]:
df = df.assign(TEAM = lambda x: x["Abbr"].apply(cleannames))

In [28]:
df.columns

Index(['Abbr', 'EPA/play', 'Success Rate (SR)', 'Dropback EPA', 'Dropback SR',
       'Rush EPA', 'Rush SR', 'week', 'year', 'OVR_SUCCESS_RATE',
       'DROPBACK_SR', 'RUN_SR', 'TEAM'],
      dtype='object')

In [29]:
df_2 = df.loc[:,['TEAM', 'Abbr', 'EPA/play', 'OVR_SUCCESS_RATE', 'Dropback EPA', 'DROPBACK_SR','Rush EPA', 'RUN_SR', 'week', 'year']]

In [32]:
df_2.to_csv("epa2015_2020.csv", index=False)

### DVOA

In [24]:
import pandas as pd
import numpy as np
import re

In [25]:
df_3 = pd.read_csv("DVOA.csv")

In [26]:
df_3.head()

,RK,TEAM,TOTAL DVOA,LAST WEEK,TOTAL DAVE,RANK,W-L,OFFENSE DVOA,OFF. RANK,DEFENSE DVOA,...,non-adj VOA,Last Year,ESTIM. WINS,EW RANK,SCHEDULE RANK,RANK.2,PYTH WINS,RANK.3,VAR.,RANK.4
0,1,TEN,0.782,NaN,-0.053,25.0,1-0,0.340,7,-0.444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,BUF,0.653,NaN,0.013,17.0,1-0,0.473,3,0.019,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,ARI,0.648,NaN,0.020,15.0,1-0,0.502,2,-0.085,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,CIN,0.583,NaN,0.113,5.0,1-0,0.386,6,-0.243,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NYJ,0.565,NaN,0.056,9.0,1-0,0.228,10,-0.352,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
dd = getNames(df_3.TEAM)

In [28]:
dd

{'TEN': 93,
 'BUF': 93,
 'ARI': 93,
 'CIN': 93,
 'NYJ': 93,
 'GB': 93,
 'SF': 93,
 'KC': 93,
 'NE': 93,
 'SD': 33,
 'STL': 16,
 'DEN': 93,
 'CAR': 93,
 'MIA': 93,
 'ATL': 93,
 'DAL': 93,
 'NYG': 93,
 'BAL': 93,
 'PHI': 93,
 'DET': 93,
 'PIT': 93,
 'WAS': 93,
 'JAC': 47,
 'SEA': 93,
 'HOU': 93,
 'CHI': 93,
 'IND': 93,
 'CLE': 93,
 'NO': 93,
 'MIN': 93,
 'OAK': 84,
 'TB': 93,
 'JAX': 46,
 'LARM': 32,
 'LAR': 45,
 'LACH': 16,
 'LAC': 44,
 'LV': 9}

In [29]:
parser

{'BUF': 'Buffalo Bills',
 'CIN': 'Cincinnati Bengals',
 'PHI': 'Philadelphia Eagles',
 'TEN': 'Tennessee Titans',
 'NO': 'New Orleans Saints',
 'PIT': 'Pittsburgh Steelers',
 'MIA': 'Miami Dolphins',
 'LV': 'Oakland Raiders',
 'CHI': 'Chicago Bears',
 'IND': 'Indianapolis Colts',
 'NE': 'New England Patriots',
 'CAR': 'Carolina Panthers',
 'DAL': 'Dallas Cowboys',
 'SF': 'San Francisco 49ers',
 'DEN': 'Denver Broncos',
 'NYJ': 'New York Jets',
 'NYG': 'New York Giants',
 'JAX': 'Jacksonville Jaguars',
 'GB': 'Green Bay Packers',
 'LAC': 'San Diego Chargers',
 'ATL': 'Atlanta Falcons',
 'MIN': 'Minnesota Vikings',
 'LA': 'St. Louis Rams',
 'CLE': 'Cleveland Browns',
 'TB': 'Tampa Bay Buccaneers',
 'WAS': 'Washington Redskins',
 'KC': 'Kansas City Chiefs',
 'BAL': 'Baltimore Ravens',
 'ARI': 'Arizona Cardinals',
 'SEA': 'Seattle Seahawks',
 'HOU': 'Houston Texans',
 'DET': 'Detroit Lions'}

In [30]:
new_keys = []
for k in dd.keys():
    if k in parser.keys():
        next
    else:
        new_keys.append(k)

In [31]:
new_keys

['SD', 'STL', 'JAC', 'OAK', 'LARM', 'LAR', 'LACH']

In [32]:
parser_d = {'BUF': 'Buffalo Bills',
 'CIN': 'Cincinnati Bengals',
 'PHI': 'Philadelphia Eagles',
 'TEN': 'Tennessee Titans',
 'NO': 'New Orleans Saints',
 'PIT': 'Pittsburgh Steelers',
 'MIA': 'Miami Dolphins',
 "OAK": "Oakland Raiders",
 'LV': 'Oakland Raiders',
 'CHI': 'Chicago Bears',
 'IND': 'Indianapolis Colts',
 'NE': 'New England Patriots',
 'CAR': 'Carolina Panthers',
 'DAL': 'Dallas Cowboys',
 'SF': 'San Francisco 49ers',
 'DEN': 'Denver Broncos',
 'NYJ': 'New York Jets',
 'NYG': 'New York Giants',
 "JAC": 'Jacksonville Jaguars',
 'JAX': 'Jacksonville Jaguars',
 'GB': 'Green Bay Packers',
 'LAC': 'San Diego Chargers',
 'LACH': 'San Diego Chargers',
 "SD":"San Diego Chargers",
 'LAR': 'St. Louis Rams',
 'LARM': 'St. Louis Rams',
 'STL': 'St. Louis Rams',
 'ATL': 'Atlanta Falcons',
 'MIN': 'Minnesota Vikings',
 'CLE': 'Cleveland Browns',
 'TB': 'Tampa Bay Buccaneers',
 'WAS': 'Washington Redskins',
 'KC': 'Kansas City Chiefs',
 'BAL': 'Baltimore Ravens',
 'ARI': 'Arizona Cardinals',
 'SEA': 'Seattle Seahawks',
 'HOU': 'Houston Texans',
 'DET': 'Detroit Lions'}

In [33]:
new_keys = []
for k in parser_d.keys():
    if k in dd.keys():
        next
    else:
        new_keys.append(k)

In [34]:
new_keys

[]

In [35]:
def cleannames(name):
    c = parser_d[name]
    return c

In [36]:
df_3 = df_3.assign(TEAM_2 = lambda x: x["TEAM"].apply(cleannames))

In [37]:
df_3 = df_3.rename(columns={"TEAM": "Abbr", "TEAM_2": "Team"})

In [38]:
df_3.columns

Index(['RK', 'Abbr', 'TOTAL DVOA', 'LAST WEEK', 'TOTAL DAVE', 'RANK', 'W-L',
       'OFFENSE DVOA', 'OFF. RANK', 'DEFENSE DVOA', 'DEF. RANK', 'S.T. DVOA',
       'S.T. RANK', 'WEEK', 'YEAR', 'WEIGHTED DVOA', 'RANK.1', 'non-adj VOA',
       'Last Year', 'ESTIM. WINS', 'EW RANK', 'SCHEDULE RANK', 'RANK.2',
       'PYTH WINS', 'RANK.3', 'VAR.', 'RANK.4', 'Team'],
      dtype='object')

In [40]:
df_3 = df_3.loc[:, ['RK',  'Team', 'Abbr', 'TOTAL DVOA', 'LAST WEEK', 'TOTAL DAVE', 'RANK', 'W-L',
       'OFFENSE DVOA', 'OFF. RANK', 'DEFENSE DVOA', 'DEF. RANK', 'S.T. DVOA',
       'S.T. RANK', 'WEEK', 'YEAR', 'WEIGHTED DVOA', 'RANK.1', 'non-adj VOA',
       'Last Year', 'ESTIM. WINS', 'EW RANK', 'SCHEDULE RANK', 'RANK.2',
       'PYTH WINS', 'RANK.3', 'VAR.', 'RANK.4']]

In [41]:
df_yearly = df_3[df_3.WEEK == 17]

In [42]:
df_yearly.shape

(160, 28)

In [43]:
df_yearly = df_3[((df_3.YEAR == 2020) & (df_3.WEEK == 9)) | (df_3.WEEK == 17)]

In [44]:
df_yearly.to_csv("DVOA_yearly.csv", index=False)
df_3.to_csv("DVOA_weekly.csv", index=False)